In [2]:
#Immutable object (str)
s1 = 'python'
s2 = 'python'
print(id(s1))
print(id(s2))
# gan s2 gia tri moi, thuc chat la tao doi tuong moi va s2 tro den vung nho moi
s2 = 'programing'
print(id(s2))

2246174419056
2246174419056
2246226078640

In [6]:
# khai bao 3 bien so nguyen (int)
x = 10; y = 10; z = y
print(id(x))
print(id(y))
print(id(z))

# doi gia tri bien y
y = 20
print(id(x))
print(id(y))
print(id(z))

2246156747280
2246156747280
2246156747280
2246156747280
2246156747600
2246156747280

In [7]:
#immutable objects (float)
# Tai sao dia chi o nho cua doi tuong (id) lai khac
# because: so float khong biet chinh xac la so nao
x = 3.14
y = 3.14
print(id(x))
print(id(y))

2246227166640
2246223706960

In [8]:
# cac doi tuong lop object khong the mo rong/ them
# cac thuoc tinh moi
o = object()
o.x = 5

AttributeError: 'object' object has no attribute 'x'

In [9]:
class Student:
    def __init__(self, name):
        self.name = name
        
s = Student('Le Thanh Nhan')
s.birthday = '13/8/2004'
print(s.name, s.birthday)

Le Thanh Nhan 13/8/2004

In [10]:
#Empty objects
#khong cho them cac thuoc tinh tuy y, tu do (arbitrary)
# vao cac class
class Student:
    # chi gioi han 2 thuoc tinh nam va major
    __slots__ = ('name', 'major')
    
    def __init__(self, name):
        self.name = name

In [12]:
s = Student('Le Thanh Dat')
s.major = 'AI'
print(s.name, s.major)
s.grade = '10'
print(s.grate) # vi co slot

Le Thanh Dat AI

AttributeError: 'Student' object has no attribute 'grade'

#tuples

In [13]:
# khai bao 1 doi tuong tuple
stock = 'AAPL', 123.52, 53.15, 137.98
stock2 =('AAPL', 123.52, 53.15, 137.98)
type(stock)

tuple

In [14]:
# tuple unpacking
import datetime
def middle(stock, date):
    # tuple unpacking : unpacks the stock parameter into four different variables
    symbol, current, high, low = stock
    
    return (((high + low) / 2), date)

In [16]:
middle(('AAPL', 123.52, 53.15, 137.98), datetime.date(2020, 12, 4))
(95.565, datetime.date(2020, 12, 4))

(95.565, datetime.date(2020, 12, 4))

In [17]:
# mot so khai bao tuple
# cac gia tri cach nhau dau phay
fullname = ('Tran Van','Binh')
student = fullname, 2022, 'AI'

# truy xuat cac phan tu trong tuple
print(type(fullname))
print(type(student))
print('First name:',fullname[0])
print('Last name:', student[0][1])
print('Year:',student[1])
print('Major:',student[2])

<class 'tuple'>
<class 'tuple'>
First name: Tran Van
Last name: Binh
Year: 2022
Major: AI

In [18]:
#slicing: cat lat du lieu tu tuple
# lay gia tri tu vi tri (index) 1 den truco 3
# tuong ug cac phan tu co index 1,2
student[1:3]

(2022, 'AI')

In [19]:
# Named tuples 
from typing import NamedTuple
# Define name tuple save stock information
class Stock(NamedTuple):
    symbol: str
    current: float
    high: float
    low: float
    
    
s = Stock('AAPL', 123.52, 137.98, 53.15)
s2 = Stock('AAPL', 123.52, high = 137.98, low = 53.15)
print(s.high)
print(s[2])
symbol, current, high, low = s
print(current)

137.98
137.98
123.52

In [24]:
from typing import NamedTuple
class Student(NamedTuple):
    ID: int
    name: str
    age: int
    major: str
student1 = Student(22207424, 'LE THANH NHAN', 19, 'AI')
ID, name, age, major = student1
print(student1.ID)

22207424

In [29]:
# A tuple that contains a mutable structure ?
student = ('Le Thanh Nhan', ['math','java', 'c++'])
student[1].append('python')
print(student)
hash(student)

('Le Thanh Nhan', ['math', 'java', 'c++', 'python'])

TypeError: unhashable type: 'list'

In [27]:
student[0] = 'Pham tan dat'

TypeError: 'tuple' object does not support item assignment

In [28]:
student = 'Le Thanh Nhan', 2022, 'AI'
hash(student)

-7791403932337544036

In [34]:
# Data CLASS

from dataclasses import dataclass

@dataclass
class Stock:
    # __slots__ = (symbol, current, high, low)
    symbol: str
    current: float
    high: float
    low: float

TypeError: __slots__ items must be strings, not 'float'

In [33]:
s = Stock('AAPL', 123.52, 137.98, 53.15)
print(s)
print(s.current)

# co the thay doi gia tri cac pha tu trong dataclass
s.current = 0.0
s.new_attribute = 'Apple Inc.'
print(s.new_attribute)
print(s)

Stock(symbol='AAPL', current=123.52, high=137.98, low=53.15)
123.52
Apple Inc.
Stock(symbol='AAPL', current=0.0, high=137.98, low=53.15)

In [35]:
# so sanh 2 doi tuong cua data classes
s1 = Stock('AAPL', 123.52, 137.98, 53.15)
s2 = Stock('AAPL', 123.52, 137.98, 53.15)
print(id(s1))
print(id(s2))
print(s1==s2)

2246230367520
2246230368768
True

- Dataclasses vs ordinary classes

In [36]:
class StockOrdinary:
    def __init__(self, name, current, high, low):
        self.name = name
        self.current = current
        self.high = high
        self.low = low
        
        
ord_s1 = StockOrdinary('AAPL', 123.52, 137.98, 53.15)
ord_s1

In [37]:
# luu y dia chi vung nho cua ord_s1 la ____ (gia tri hex)
# tuong ung voi gia tri decimal la ___________
print(id(ord_s1))

2246231723120

In [38]:
ord_s2 = StockOrdinary('AAPL', 123.52, 137.98, 53.15)
print(id(ord_s1))
print(id(ord_s2))
# so sanh 2 doi tuong cua ordinary class
print(ord_s1 == ord_s2)

2246231723120
2246230366656
False

In [40]:
# benefit of dataclasses
from dataclasses import dataclass
@dataclass
class Stock:
    name: str
    current: float = 0.0
    high: float = 0.0
    low: float = 0.0
    
s1 = Stock('GOOG')
print(s1)
s2 = Stock('GOOG', 1826.77, 1847.20, 1012.54)
print(s2)

Stock(name='GOOG', current=0.0, high=0.0, low=0.0)
Stock(name='GOOG', current=1826.77, high=1847.2, low=1012.54)